* {
	font-family: "Courier New", monospace;
	font-size: 20px; 
}


}

}

}

h1	{

	font-size: 30px;
}

#h2activity {
	text-transform: uppercase;
}

.language2learn {
	background-color: limegreen;
}


ol[type] li {

	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;

}

img + ul {
	list-style-type: none;
}

section img {
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

ul ~ p {
	text-align: center;
}

section > ul > li {
	letter-spacing: 1rem;
}